/* change the body margin from it's default to zero */
body {
	white-space: nowrap;
	margin: 0px;
}
/**/

/* semantic element styles */
header {
	white-space: nowrap;
	background-color: lightgrey;
	width: 100%;
	height: 100px;
	display: block;
	border-bottom: 2px solid grey;
}
nav {
	white-space: nowrap;
	background-color: lightgrey;
	width: 200px;
	height: 100%;
	display: inline-block;
	border-right: 2px solid grey;
}
section {
	white-space: nowrap;
	background-color: white;
	width: 80%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
footer {
	white-space: nowrap;
	background-color: white;
	width: 100%;
	height: 75px;
	display: block;
	border-top: 2px solid grey;
}
/**/

/* header element styles */

	/* page title style */
	div.title {
		white-space: nowrap;
		background-color: none;
		color: grey;
		font-family: verdanna;
		font-size: 50px;
		display: inline-block;
		line-height: 100px;
		margin-left: 25px;
		width: 500px;
	}
	/**/

	/* searchbar style construction */
	div.searchbar {
		white-space: nowrap;
		background-color: none;
		display: inline-block;
		vertical-align: top;
		margin-top: 35px;
	}
	form {
		white-space: nowrap;
	}
	input.search {
		white-space: nowrap;
		padding: 6px 15px;
		background: white;
		border: 2px solid grey;
		border-right: 0px solid grey;
		width: 400px;
	}
	input.button {
		white-space: nowrap;
		position: relative;
		padding: 6px 15px;
		left: -8px;
		border: 2px solid grey;
		background-color: grey;
		color: white;
	}
	input.button:hover {
		white-space: nowrap;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 3px 10px 0 rgba(0,0,0,0.19);
	}
	input.button:active {
		white-space: nowrap;
		transform: translateY(1px) translateX(1px);
	}
	/**/

/**/

/* menu bar element styles */
ul {
	white-space: nowrap;
	background-color: none;
	width: 200px;
	height: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
li a {
	white-space: nowrap;
	background-color: none;
	color: grey;
	width: 200px;
	height: 50px;
	border: none;
	text-align: center;
	font-family: verdanna;
	font-size: 25px;
	display: block;
	line-height: 50px;
}
a:link, a:visited {
	white-space: nowrap;
	text-decoration: none;
	background-color: none;
	color: grey;
}
a:hover, a:active {
	white-space: nowrap;
	text-decoration: none;
	background-color: grey;
	color: white;
}
/**/

/* content element styles */

	/* title & subtitle styles */
	h1 {
		white-space: nowrap;
		font-family: verdanna;
		font-weight: bold;
		font-size: 50px;
		color: black;
		text-align: left;
		margin-left: 50px;
	}
	h2 {
		white-space: nowrap;
		font-family: verdanna;
		font-weight: bold;
		font-size: 30px;
		color: black;
		text-align: left;
		margin-left: 50px;
	}
	h3 {
		white-space: nowrap;
		font-family: verdanna;
		font-weight: bold;
		font-size: 26px;
		color: grey;
		text-align: left;
		margin-left: 50px;
	}
	/**/

	/* paragraph style */
	p {
		white-space: nowrap;
		font-family: verdanna;
		font-size: 20px;
		color: black;
		text-align: left;
		margin-left: 50px;
	}
	/**/
	
	/* paragraph inline-block style(allows images to perfectly line up next to text) */
	p.inline_content { 
		white-space: nowrap;
		display: inline-block;
		background-color: none;
		font-family: verdanna;
		font-size: 20px;
		color: black;
		text-align: left;
		margin-left: 50px;
	}
	/**/

/**/

/* foter element styles */
img.facebook_icon {
	white-space: nowrap;
	margin-left: 202px;
	display: inline-block;
	width: 60px;
	height: 60px;
}

img.twitter_icon {
	white-space: nowrap;
	display: inline-block;
	width: 60px;
	height: 58px;
}

img.linkedin_icon {
	white-space: nowrap;
	display: inline-block;
	width: 60px;
	height: 58px;
}

img.youtube_icon {
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 63px;
}
/**/

/* home page specific styles */

	/* image styles */
	img.personal_photo {
		white-space: nowrap;
		display: inline-block;
		width: 130px;
		height: 130px;
	}
	img.puzzle_photo {
		white-space: nowrap;
		display: inline-block;
		width: 200px;
		height: 170px;
	}
	/**/
	
	/* home page menu bar blank filler */
	li a.Home_fill {
		white-space: nowrap;
		background-color: lightgrey;
		color: grey;
		width: 200px;
		height: 700px; /* fix the pixel issue to fit the screen */
		border: none;
		text-align: center;
		font-family: verdanna;
		font-size: 25px;
		display: block;
		line-height: 50px;
	}
	/**/

/**/

/* cv page specific styles */

	/* cv page menu bar blank filler */
	li a.CV_fill {
		white-space: nowrap;
		background-color: lightgrey;
		color: grey;
		width: 200px;
		height: 1600px; /* fix the pixel issue to fit the screen */
		border: none;
		text-align: center;
		font-family: verdanna;
		font-size: 25px;
		display: block;
		line-height: 50px;
	}
	/**/

/**/

/* projects page specific styles */

	/* screenshot style */
	img.screenshot {
		white-space: nowrap;
		display: inline-block;
		width: 500px;
		height: 350px;
	}
	/**/
	
	/* projects page menu bar blank filler */
	li a.Projects_fill {
		white-space: nowrap;
		background-color: lightgrey;
		color: grey;
		width: 200px;
		height: 4200px;
		border: none;
		text-align: center;
		font-family: verdanna;
		font-size: 25px;
		display: block;
		line-height: 50px;
	}
	/**/
	
/**/

/* contact me page specific styles */

	/* contact form styles */
	
		/* label style */
		input.label {
			white-space: nowrap;
			border: 0px solid grey;
			outline: 0px solid grey;
			font-family: verdanna;
			font-size: 24px;
			font-weight: bold;
			color: black;
			text-align: left;
			margin-left: 50px;
			margin-top: 10px;
			display: block;
		}
		/**/
		
		/* textbox styles */
		input.field {
			white-space: nowrap;
			border: 1px solid grey;
			outline: 0px solid grey;
			font-family: verdanna;
			font-size: 22px;
			color: black;
			text-align: left;
			margin-left: 50px;
			display: block;
		}
		input.field:focus {
			white-space: nowrap;
			border: 1px solid lightblue;
			box-shadow: 0 0 10px lightblue;
		}
		/**/
		
		/* comment box styles */
		textarea.message {
			resize: none;
			border: 1px solid grey;
			outline: 0px solid grey;
			font-family: verdanna;
			font-size: 18px;
			color: black;
			text-align: left;
			margin-left: 50px;
			overflow: auto;
			display: block;
		}
		textarea.message:focus {
			border: 1px solid lightblue;
			box-shadow: 0 0 10px lightblue;
		}
		/**/
		
		/* submit button styles */
		input.submit {
			white-space: nowrap;
			position: relative;
			padding: 6px 15px;
			left: -8px;
			border: 2px solid grey;
			background-color: grey;
			color: white;
			margin-left: 58px;
			margin-top: 10px;
			display: block;
		}
		input.submit:hover {
			white-space: nowrap;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 3px 10px 0 rgba(0,0,0,0.19);
		}
		input.submit:active {
			white-space: nowrap;
			transform: translateY(1px) translateX(1px);
		}
		/**/
		
	/**/
	
	/* contact me page menu bar blank filler */
	li a.Contact_Me_fill {
		white-space: nowrap;
		background-color: lightgrey;
		color: grey;
		width: 200px;
		height: 700px;
		border: none;
		text-align: center;
		font-family: verdanna;
		font-size: 25px;
		display: block;
		line-height: 50px;
	}
	/**/

/**/